@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}

h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
}

video, canvas {
-o-transform : scaleX(-1);
-moz-transform : scaleX(-1);
-webkit-transform : scaleX(-1);
-ms-transform: scaleX(-1);
transform : scaleX(-1);
}
